/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 99%;
  animation: pulse 5s 1;
  animation-duration: 2s;
  background-color: #c21f39;
}

@keyframes pulse {
  0% {
    background-color: #ffffff;
  }
  100% {
    background-color: #c21f39;
  }
}
