.home-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.zoom-img {
  height: 10em;
  transition: transform .2s; /* Animation */
  margin-bottom: 1em;
}

.zoom-img:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.rotary-img {
  transition: transform .7s ease-in-out;
}

.rotary-img:hover {
  transform: rotate(360deg);
}
