.home-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.zoom-img {
  height: 10em;
  transition: transform .2s; /* Animation */
  margin-bottom: 1em;
}

.zoom-img:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.rotary-img {
  transition: transform .7s ease-in-out;
}

.rotary-img:hover {
  transform: rotate(360deg);
}


.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #fff 50%, #cca714 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
